html {
    min-height: 100%;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.about-section{
    margin: 0;
    height: 300%;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    background-image: url(webredesign1\ copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

.about-section-h1 {
    display: flex;
    color: aliceblue;
    font-size: 80px;
    margin-top: 28%;
    margin-left: 19%;
    font-family: "Brush Script MT";
    width: 30%;
    height: 10%;
}

.about-section-blurb {
    position: sticky;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: 25px;
    max-width: 34%;
    min-width: 34%;
    margin-top: 20%;
    margin-left: 11%;
    height: 16%;
    overflow: visible;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-section-blurb:after {
    content: url("https://www.google.com/");
    background-image: url(double-arrow-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-left: 35%;
    margin-top: 10%;
}

.about-section-blurb:hover::after {
    content: url("https://www.google.com/");
    background-image: url(double-arrow-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 8%;
    margin-left: 34%;
    width: 80px;
    height: 80px;

}
